/* Style Sheet */
:root{
    --primary: rgb(31, 152, 168);
    --secondary: rgb(25, 123, 252);
    --background: rgb(245, 245, 207);
    background-color: var(--background);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


h2 {
    color: var(--primary);
    font-size: 250%;
}

h3 {
    color: var(--primary);
}

.timer {
    color: var(--secondary);
}

#questions {
    color: var(--secondary);
}

.answer-list {
    background-color: var(--primary);
    color: white;
}

.scoretable {
    margin-left:auto;
    margin-right:auto;
    color: var(--secondary); 
}

#highscores {
    color: var(--primary);
}

#intials {
    color: var(--secondary);
}

li {
    margin-left:40%;
    margin-right:40%;
}